<div class="conteiner mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Registrar Empleado</span>
                    <form class="mt-3">
                        <div class="mb-3">
                            <input formControlName="name" type="text" class="form-control form-control-lg" placeholder="Nombre">

                        </div>
                        <div class="mb-3">
                            <input formControlName="age" type="number" class="form-control form-control-lg" placeholder="Edad">

                        </div>
                        <div class="mb-3">
                            <input formControlName="rol" type="text" class="form-control form-control-lg" placeholder="Rol">
                        </div>
                        <div class="mb-3">
                            <input formControlName="date" type="date">
                        </div>
                        <div class="mb-3">
                            <input formControlName="domicile" type="text" class="form-control form-control-lg" placeholder="Domicilio">
                        </div>
                        <div class="mb-3">
                            <input formControlName="phoneNumber" type="number" class="form-control form-control-lg" placeholder="Teléfono">
                        </div>
                        <div class="mb-3">
                            <button routerLink="/admin" class="btn btn-secondary btn-lg float-start">VOLVER</button>
                            <button type="submit"  class="btn btn-primary btn-lg float-end">GUARDAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
